<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Flight Number</th>
            <th>Airline</th>
            <th>Airport</th>
            <th>Departure Date & Time</th>
        </tr>    
    </thead>
    <tbody>
        <% flights.forEach(function(f){ %>
            <tr>
                <td><a href="/flights/<%= f._id%>">DETAILS</a></td>
                <td><%= f.flightNo%></td> 
                <td><%= f.airline %></td> 
                <td><%= f.airport %></td>
                <% if(f.departs) { %> 
                    <td><%= f.departs.toLocaleString(); %></td>
                <%} else { %>
                    <td></td>
                <%} %>
            </tr>

        <% }); %>
    </tbody>
</table>


<%- include('../partials/footer') %>